* , *::after, *::before {
    box-sizing: border-box;
}

html {
    background: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}
.clear {
    clear: both;
}
input {
    outline: none;
    border-radius: 20px;
    border: none;
    width: 600px;
    padding: 10px 10px 10px 20px;
}

ion-icon {
    width: 20px;
    height: 20px;
}
/* Header */
#header {
    background:  linear-gradient(#fff,#4445D0);
    width: 100%;
    height: 100px;
}
.header {
    display: flex;
}
.header_left {
    display: flex;
    align-items: center;
    height: 100px;
    margin-right: 70px;
}
.header img{
    height: 55px;
}
.header_logo {
    margin-left: 100px;
}
.header_text {
    margin-left: 7px;
}
.black {
    width: 3px;
    background: #B5BCEF;
    margin-top: 7px;
    margin-bottom: 3px;
}
/* Nav */
.nav_text{
   height: 50px;
}

.nav_text ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.li_text {
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    color: #fff;
}
.li_text h4:hover {
    opacity: 0.5;
    cursor: pointer;
}

.nav_icon {
    display: flex;
    align-items: end;
    height: 50px;
}

.nav_icon p{
    margin-bottom: 3px;
    margin-left: 7px;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.nav_icon p:hover {
   border-bottom: 2px solid;
}
.search {
    background: #fff;
    border-radius: 20px;
    width: 637px;
    display: flex;
    align-items: center;
}

.search span:hover {
    cursor: pointer;
    color: grey;
}