* , *::after, *::before {
    box-sizing: border-box;
}

html {
    background: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.space_small {
    margin: 0 30px;
}
ul li {
    list-style: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}
.clear {
    clear: both;
}
.relate {
    position: relative;
    width: 100%;
    height: 0.1px;
}
.dis_flex {
    display: flex;
}
input {
    outline: none;
    border-radius: 20px;
    border: none;
    width: 600px;
    padding: 10px 10px 10px 20px;
}

ion-icon {
    width: 20px;
    height: 20px;
}
/* Header */
#header {
    background:  linear-gradient(#fff,#4445D0);
    width: 100%;
    height: 100px;
    position: fixed;
    box-shadow: 0.7px 3px ghostwhite;
    z-index: 7;
}
.header {
    display: flex;
   justify-content: center;
}
.header_left {
    display: flex;
    align-items: center;
    height: 100px;
    margin-right: 70px;
}
.header img{
    height: 55px;
}
.header_logo {
    
}
.header_text {
    margin-left: 7px;
}
.black {
    width: 3px;
    background: #B5BCEF;
    margin-top: 7px;
    margin-bottom: 3px;
}
/* Nav */
.nav_text{
   height: 50px;
}

.nav_text ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.li_text {
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    color: #fff;
}
.li_text h4:hover {
    opacity: 0.5;
    cursor: pointer;
}

.nav_icon {
    display: flex;
    align-items: end;
    height: 50px;
}

.nav_icon p{
    margin-bottom: 3px;
    margin-left: 7px;
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.nav_icon p:hover {
   border-bottom: 2px solid;
}
.search {
    background: #fff;
    border-radius: 20px;
    width: 637px;
    display: flex;
    align-items: center;
}

.search span:hover {
    cursor: pointer;
    color: grey;
}

/* End-Header */

/* Information */
a {
    text-decoration: none;
    color: #fff;
}
.info {
   margin-top: 105px;
   color: #fff;
}

.info_left {
    flex: 0.5;
}
.up_1 img {
    border-radius: 7px;
    border-top-left-radius: 0;
}
.danh_muc {
    text-align: center;
    background-color: #4445D0;
    padding: 10px;
}

.info_list {
    background: #B5BCEF;
    margin: 0;
    padding: 0;
    
}
.info_list li {
    height: 43px;
    font-size: 13px;
    padding: 13px 0;
}
.info_list a {
    height: 43px;
    display: block;
    margin-left: 10px;
}
.info_list img {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
.info_list li:hover {
    background: red;
    cursor: pointer;
}

.info_right {
    flex: 2;
}

/* Banner */
.banner {
   margin-top: 20px;
}

.banner_text {
    width: 100%;
    background: #d7202c;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
}

.banner_img {
    display: flex;
    justify-content: space-around;
    margin-top: 3px;
}

.banner_pc {
    width: 19%;
    position: relative;
}

.banner_pc img {
    width: 100%;
    border: 1px solid #d1bcbc;
    cursor: pointer;
}

.banner_p {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 17px;
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    display: none;
}

.banner_pc:hover .banner_p {
    display: block;
    cursor: pointer;
}

/* Footter */
#footter {
    background: #dfd7d7;
    margin-top: 10px;
    height: 170px;
}
.footter {
    display: flex;
    margin: 0 100px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.footter p {
    text-decoration: underline;
    cursor: pointer;
}
.footter ul {
    margin: 0;
    padding: 0;
}
.footter img {
    height: 45px;
}
.footter_logo {
    display: flex;
}
.footter_logo h3 {
    margin-left: 10px;
}
.footter_logo ion-icon {
    width: 20px;
    height: 20px;
}

